# 30 – Create SQL Views (Business-facing)

In [ ]:
cat = CATALOG; sg = SCHEMA_GOLD
spark.sql(f"USE CATALOG {cat}")
spark.sql(f"CREATE SCHEMA IF NOT EXISTS {cat}.{sg}")

spark.sql(f'''
CREATE OR REPLACE VIEW {cat}.{sg}.go_report_views_highrisk AS
SELECT e.entity_id,
       e.pep_flag,
       e.geo_risk,
       r.risk_score,
       r.band,
       r.run_ts
FROM   {cat}.{sg}.go_entity_features e
JOIN   {cat}.{sg}.go_risk_scores r USING (entity_id)
WHERE  r.band = 'HIGH'
''')

spark.sql(f'''
CREATE OR REPLACE VIEW {cat}.{sg}.go_report_views_onboarding AS
SELECT e.entity_id, e.geo_risk, r.risk_score, r.band, r.run_ts
FROM   {cat}.{sg}.go_entity_features e
JOIN   {cat}.{sg}.go_risk_scores r USING (entity_id)
''')

print("Created views in", f"{cat}.{sg}")